<form ng-submit="addPatient()">
    <div class="form-group">
        <input type="text" placeholder="FirstName" ng-model="model.firstname" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" placeholder="LastName" ng-model="model.lastname" class="form-control">
    </div>
    <div class="form-group">
        <input type="email" placeholder="Email" ng-model="model.email" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-inverse">
    </div>

</form>